@import url('https://fonts.googleapis.com/css?family=Roboto:300');

logobody {
  text-align:center;
  font-weight:300;
  font-size:32px;
  padding-top:40vh;
  height:100vh;
  overflow:hidden;
  --webkit-backface-visibility: hidden;
  --webkit-perspective: 1000;
  --webkit-transform: translate3d(0,0,0);
}

logodiv {
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}

logodiv:first-of-type {    /* For increasing performance 
                       ID/Class should've been used. 
                       For a small demo 
                       it's okaish for now */
  animation: showup 9s infinite;
}

logodiv:last-of-type {
  width:0px;
  animation: reveal 9s infinite;
}

logodiv:last-of-type span {
  margin-left:-355px;
  animation: slidein 9s infinite;
}

@keyframes showup {
    0% {opacity:0;}
    20% {opacity:1;}
    80% {opacity:1;}
    100% {opacity:0;}
}

@keyframes slidein {
    0% { margin-left:-800px; }
    20% { margin-left:-800px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

@keyframes reveal {
    0% {opacity:0;width:0px;}
    20% {opacity:1;width:0px;}
    30% {width:355px;}
    80% {opacity:1;}
    100% {opacity:0;width:355px;}
}


.main {
    border: 2px solid black;
    background-color: white;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
    height: auto;
}

.column {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.link { 
    color: white;
} /* CSS link color */